{% extends "base.html.twig" %}
{% block title %} Demo web page {% endblock %}
{% block header %}
   <h3 class="text text-success">Chào mừng đến với đại học Greenwich Việt Nam</h3>
{% endblock %}
{% block body %}
   <h1> This is demo 2 page </h1>
   {# path: liên kết web page nội bộ thông qua route name #}
   <a class="btn btn-danger" href="{{ path('d1') }}">Link to demo1 page</a>
   <br>
   {# asset: trỏ đến vị trí thư mục public (chứa tài nguyên của web) #}
   <img src="{{ asset('images/hanoi.jpg')}}" width="200" height="200">
{% endblock %}
