{% extends "base.html.twig" %}

{% block body %}
<h6 class="text text-warning">Add new note successfully !</h6>
<h4 class="text text-success">Content: {{ content }} </h4>
<h4 class="text text-success">{{ date | date('d/m/Y')}} </h4>
{% endblock %}
